body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
}

.background-container {
    position: absolute;
    top: 115px;
    left: 40px;
    width: 80px;
    height: 80px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 100px;
}

.background-container2 {
    position: absolute;
    top: 20px;
    right: 140px;
    width: 55px;
    height: 55px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 100px;
}

.searchimage {
    position: absolute;
    top: 32px;
    left: 30px;
    width: 35px;
    height: 35px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/2048px-Search_Icon.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 100px;
    border: none;
}

.bell {
    position: absolute;
    top: 30px;
    right: 225px;
    width: 40px;
    height: 40px;
    background-image: url('https://media.istockphoto.com/id/1475895698/vector/bell-ringing-icon-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=2Zx8btTCOwBa1AXCzCJOb8iW_3DamMOZ5jA6okRk6f4=');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 100px;
    border: none;
}

.header {
    position: absolute;
    background-color: white;
    top: -16px;
    right: 0;
    height: 30vh;
    width: 80%;
    margin-left: auto;
}


.first {
    position: relative;
    top: 120px;
    left: 140px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.second {
    position: absolute;
    top: 130px;
    left: 140px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.third {
    position: absolute;
    top: 20px;
    right: 60px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#search {
    position: relative;
    background-color: lightgray ;
    top: -22px;
    left: 75px;
    width: 680px;
    height: 25px;
    border-radius: 13px;
    border: none;
}

.buttons2 {
    position: relative;
    background-color: deepskyblue;
    top: 95px;
    left: 110px;
    width: 100px;
    height: 38px;
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
    border: none;
    margin: 10px;
    cursor: pointer;
}




.sidebar {
    position: absolute;
    background-color: deepskyblue;
    top: 0;
    height: 130vh;
    width: 20%;
    margin-right: auto;
}

.buttons3 {
    display: grid;
    grid-template-rows: auto repeat(6, auto) repeat(3, auto);
    padding: 20px;
    height: 65vh;
}

.item1 {
    position: relative;
    grid-row: 1;
    color: white;
    background-color: deepskyblue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    top: -12px;
    text-align: left;
    height: 50px;
    width: 280px;
    border: none;
    cursor: pointer;
}

.item2 {
    position: relative;
    color: white;
    background-color: deepskyblue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    top: -5px;
    text-align: left;
    height: 40px;
    width: 180px;
    border: none;
    cursor: pointer;
}

.item3 {
    position: relative;
    color: white;
    background-color: deepskyblue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    top: 24px;
    text-align: left;
    height: 40px;
    width: 180px;
    border: none;
    cursor: pointer;
}

.item1 {
    margin-bottom: 20px; 
}

.item2 {
    margin-bottom: 10px;    
}

.item3 {
    margin-bottom: 10px;
}




.article {
    position: absolute;
    background-color: lightgray;
    top: 203px;
    right: 0;
    height: 102vh;
    width: 80%;
    margin-right: auto;
}

.p1 {
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    top: 10px;
    left: 18px;
}

.p2 {
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    top: -29px;
    right: -860px;
}

.p3 {
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    top: 305px;
    right: -860px;
}


.container2 {
    display: grid;
    grid-template-columns: repeat(2, 375px);
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
}

.card {
    position: relative;
    background: linear-gradient(to left, white 98%, Goldenrod 95%);
    top: -65px;
    left: 20px;
    border-radius: 7px;
}

.title {
    position: relative;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    top: 10px;
    left: 25px;
}

.notitle {
    position: relative;
    font-family: sans-serif;
    font-size: 15px;
    top: -5px;
    left: 25px;
    color: gray;
}

.container3 {
    display: grid;
    grid-template-rows: repeat(2, 280px);
    gap: 80px;
}

.card2 {
    position: relative;
    background-color: white;
    right: -860px;
    top: -705px;
    width: 280px;
    border-radius: 7px;
}

.title2 {
    position: relative;
    top: 10px;
    font-size: 14px;
    font-weight: bold;
    left: 30px;
    font-family: sans-serif; 
}

.notitle2 {
    position: relative;
    font-size: 12px;
    left: 30px;
    font-family: sans-serif;
    color: gray;
}

.title3 {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    left: 90px;
    font-family: sans-serif;
}

.notitle3 {
    position: relative;
    font-size: 14px;
    left: 90px;
    font-family: sans-serif;
    color: gray;
}

.image1 {
    position: absolute;
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg');
    left: 15px;
    top: 15px;
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 100px;
}

.image2 {
    position: absolute;
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg');
    left: 15px;
    top: 80px;
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 100px;
}

.image3 {
    position: absolute;
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg');
    left: 15px;
    top: 145px;
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 100px;
}

.image4 {
    position: absolute;
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg');
    left: 15px;
    top: 210px;
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 100px;
}
